// Colors
$color-accent: #6b8afd;
$color-primary-shade: #131313;
$color-secondary-shade: #2e333d;
$color-tertiary-shade: #31363e;
$color-light-white: #ffffff;

// Font Sizes
$font-size-large: 40px;
$font-size-mid: 25px;
$font-size-regular: 18px;
$font-size-small: 12px;

// Font Weight
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;
$font-weight-extrabold: 800;
