.home-page {
  &__container {
    margin: auto;
    @include container-setting(80%, 2500px, 300px);
  }

  &__heading {
    font-size: $font-size-large;
    margin: 40px 0px 80px;

    span {
        position: relative;
        color: $color-accent;
        
        svg {
            stroke: $color-accent;
            position: absolute;
            width: 100%;
            left: 0px;
            bottom: -30px
        }
    }
  }

  &__button {
    @include flex-box(column, center, center);
    overflow: hidden;
    line-height: 1;
    border-radius: 0.7rem;
    padding: 0.815rem 1.232rem;
    cursor: pointer;
    border: none;
    background: $color-secondary-shade;
    transition: background 0.4s linear;
    will-change: background;
    max-width: 250px;

    &:hover {
      background: $color-accent;
    }

    &:hover span:nth-of-type(1) em {
      opacity: 0;
      transform: rotateX(90deg) scaleX(0.9) translate3d(0, -10px, 0);
    }

    &:hover span:nth-of-type(2) em {
      opacity: 1;
      transform: rotateX(0deg) scaleX(1) translateZ(0);
      transition: transform 0.75s cubic-bezier(0.645, 0.045, 0.355, 1),
        opacity 0.35s linear 0.3s;
    }

    span {
      position: relative;
      display: block;
      perspective: 108px;
    }

    span:nth-of-type(2) {
      position: absolute;
    }

    em {
      font-style: normal;
      display: inline-block;
      font-size: 1.125rem;
      font-weight: 600;
      will-change: transform, opacity, transition;
      transition: transform 0.55s cubic-bezier(0.645, 0.045, 0.355, 1),
        opacity 0.35s linear 0.2s;
    }

    span:nth-of-type(1) em {
      color: $color-light-white;
      transform-origin: top;
    }

    span:nth-of-type(2) em {
      opacity: 0;
      transform: rotateX(-90deg) scaleX(0.9) translate3d(0, 10px, 0);
      transform-origin: bottom;
      color: $color-primary-shade;
    }
  }
}
